:root {
  --red: #fe4a49;
  --blue: #2ab7ca;
  --yellow: #fed766;
  --grey: #e6e6ea;
  --white: #f4f4f8;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, var(--blue), var(--yellow));
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.container {
  max-width: 850px;
  background-color: var(--grey);
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

h1{
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

h1 span {
  font-weight: 700;
}

.inputs-container {
  display: flex;
  justify-content: center;
}

.inputs-container label {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.inputs-container input {
  min-width: 350px;
  font-size: 18px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #333;
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.input-group:nth-child(2){
  margin-left: 20px;
}

button {
  background-color: var(--yellow);
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 40px auto;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

button:hover {
  background-color: #b69b49;
}

.bmi-value {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}
.result {
  text-align: center;
  font-family: Raleway;
}

@media(max-width : 800px){
  .container{
    max-width: 600px;
  }

  .inputs-container {
    flex-direction: column;
    align-items: center;
  }

  .input-group:nth-child(2){
    margin-top: 30px;
    margin-left: 0;
  }
  .input-group {
      max-width: 100%;
    }

    .input-group input {
      min-width: auto;
      width: 100%;
    }
}